<header class="app-header">
  <div class="logo">
    <img src="assets/logo.png" alt="Finance App Logo">
    <h1>Finance App</h1>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Dodaj transakcje</a></li>
      <li><a routerLink="/transactions">List Transakcji</a></li>
    </ul>
  </nav>
  <div *ngIf="userService.user$ | async as user" class="user-info">
    <span>{{ user.firstName }} {{ user.lastName }} , </span>
    <span>Stan konta: {{ user.balance | currency:'USD':'symbol' }}</span>
  </div>
</header>
