<div class="main">
  <h2 class="modal-header">Szczegóły Transakcji</h2>

  <div class="modal-form">
  
    <div class="form-field">
      <label>Kwota:</label>
      <span>{{ data.transaction.amount }}</span>
    </div>
  
  
    <div class="form-field">
      <label>Data:</label>
      <span>{{ data.transaction.date | date }}</span>
    </div>
  
  
    <div class="form-field">
      <label>Opis:</label>
      <span>{{ data.transaction.description }}</span>
    </div>
  
  
    <div class="form-field">
      <label>Kategoria:</label>
      <span>{{ getCategoryName(data.transaction.categoryId) }}</span>
    </div>
  
  
    <div class="actions">
      <button type="button" class="modal-button" (click)="onCancel()">
        Zamknij
      </button>
    </div>
  </div>
  
</div>
